<div class="spiner" *ngIf="!weatherFullInfo">
  очікую...
</div>
<ng-container *ngIf="weatherFullInfo">
  <div> {{dayTitle}} </div>
  <div> {{weatherGeneralInfo.weather[0].main}} </div>
  <div>
    <img src="http://openweathermap.org/img/wn/{{weatherGeneralInfo.weather[0].icon}}@2x.png" alt="Weather icon">
  </div>
  <div> {{(+weatherGeneralInfo.main.temp - 273.15) | number:'1.0-0'}}</div>
  <div> Вітер: {{weatherGeneralInfo.wind.speed | number:'1.0-0'}}км/год.</div>
  <div> Вологість: {{weatherGeneralInfo.main.humidity}}%</div>
  <div> Тиск: {{weatherGeneralInfo.main.pressure}}hPa</div>
</ng-container>
