<div class="main-wrap">
  <ng-container *ngIf="(currentPlace$ | async) as place">
    <div class="place-container">
      <div class="place-info">
        <div [@enterFromTop]="place.city" class="city">{{place.city}}</div>
        <div class="region">{{place.dist}}</div>
      </div>
      <div class="change-place">
          <label *ngIf="!isPlaceEdit" for="switcher" title="Змінити місто">
            <i class="material-icons">my_location</i>
          </label>
          <label *ngIf="isPlaceEdit" for="switcher" title="Змінити місто">
            <i class="material-icons">undo</i>
          </label>
          <div class="checkbox-group">
            <input type="checkbox" id="switcher" [(ngModel)]="isPlaceEdit" (change)="openPlacePicker()">
          </div>
      </div>
    </div>
  </ng-container>
  <div [@flip]="isPlaceEdit">
    <router-outlet></router-outlet>
  </div>
</div>
